BorderPane{
    -fx-padding: 0;
}

.form{
    -fx-alignment: center;
    -fx-max-width: 500px;
    -fx-max-height: 250px;
    -fx-spacing: 25;

}

.titulo, .buttonbar{
    -fx-alignment: center;
    -fx-font-size: 25px;
}

.buttonbar{
    -fx-padding: 100 0 0 0;
    -fx-spacing:200;
}
